.bbn-radius{
  border-top-left-radius: @default-border-radius;
  border-top-right-radius: @default-border-radius;
  border-bottom-left-radius: @default-border-radius;
  border-bottom-right-radius: @default-border-radius;
}
.bbn-no-radius{
  border-radius: 0 !important;
}
.bbn-radius-top-left{
  border-top-left-radius: @default-border-radius !important;
}
.bbn-radius-top-right{
  border-top-right-radius: @default-border-radius !important;
}
.bbn-radius-bottom-left{
  border-bottom-left-radius: @default-border-radius !important;
}
.bbn-radius-bottom-right{
  border-bottom-right-radius: @default-border-radius !important;
}
.bbn-radius-top{
  .bbn-radius-top-left;
  .bbn-radius-top-right;
}
.bbn-radius-bottom{
  .bbn-radius-bottom-left;
  .bbn-radius-bottom-right;
}
.bbn-radius-left{
  .bbn-radius-top-left;
  .bbn-radius-bottom-left;
}
.bbn-radius-right{
  .bbn-radius-top-right;
  .bbn-radius-bottom-right;
}
