.bbn-h,
.bbn-hidden{
  display:none;
}
/* No opacity */
.bbn-invisible{
  opacity: 0;
}
/* Hidden frame */
iframe.bbn-h,
iframe.bbn-hidden{
  position:absolute;
  top:-100px;
  left:-100px;
  width:1px;
  height:1px;
  overflow:hidden;
}
.bbn-iblock{
  display: inline-block;
  position: relative;
}

.bbn-flex{
  display: flex!important;
  flex-wrap: nowrap;
}