@default-background: #fff;
@default-text: #00435e;
@default-border: #e0edf1;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 4px;
@alt-text: #00435e;
@alt-border: #e0edf1;
@alt-background: #daecf4;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 0.6em;
@hover-background: #d9ecf5;
@hover-border: #a3d0e4;
@hover-text: #003f59;
@hover-border-style: solid;
@active-text: #003f59;
@active-border: #e0edf1;
@active-background: #fff;
@active-border-style: solid;
@primary-background: #177fab;
@primary-border: #177fab;
@primary-text: #00435e;
@button-text:#00435e;
@effect: rgba(255, 255, 255, .6);
@state-selected-border: #00435e;
@header: #f0f8ff;
@header-alt: #93c7df;
@header-text: #00435e;
@font: 'Source Sans Pro', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');