@active-background: #f8e839;
@active-border: #666666;
@active-border-style: solid;
@active-text: #333333;
@alt-background: #272407;
@alt-border: #cccccc;
@alt-border-radius: 0.6em;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-text: #ffffff;
@button-text: #ffffff;
@default-background: #000000;
@default-border: #999999;
@default-border-radius: 4px;
@default-border-style: solid;
@default-border-width: 1px;
@default-text: #fff;
@disabled-background: #edebea;
@disabled-border: #cacaca;
@disabled-color: #c3c3c3;
@effect: rgba(255, 255, 255, .2);
@font: 'OpenSans';
@header: #272407;
@header-alt: #f8e839;
@header-alt-text: #333333;
@header-text: #ffffff;
@hover-background: #f8e839;
@hover-border: #cccccc;
@hover-border-style: solid;
@hover-text: #333333;
@link-color: #8d8311;
@primary-background: #fcec3c;
@primary-border: #f8e839;
@primary-text: #000000;
@secondary-background: #C9351C;
@secondary-border: #B22222;
@secondary-text: #fff;
@state-selected-background: #4d4d4d;
@state-selected-border: #8d8311;
@state-selected-text: #ffffff;
@tertiary-background: #085f12;
@tertiary-border: #ffffff;
@tertiary-text: #fff;
@text-size: ~"calc(8px + 0.5vmin)";
@font: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
