@default-text: #878c99;
@default-border: #dbdbdb;
@alt-background: #76C4B2;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 3px;
@alt-text: #fff;
@alt-border: #363940;
@default-background: #363940;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 6px;
@hover-background: #2eb3a6;
@hover-border: #dbdbdb;
@hover-text: #fff;
@hover-border-style: solid;
@active-text: #fff;
@active-border: #dbdbdb;
@active-background: #10c4b2;
@active-border-style: solid;
@primary-background: #10c4b2;
@primary-border: #10c4b2;
@state-selected-border: #2eb3a6;
@state-selected-background: #2eb3a6;
@button-text:#fff;
@header: #363940;
@header-alt: #93c7df;
@header-text: #fff;

@header-alt-text: #999;
@effect: rgba(255, 255, 255, .6);
@font: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
