@default-text: #fff;
@default-border: #2a2a2a;
@default-background: #4d4d4d;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 0px;
@alt-text: #fff;
@alt-border: #4d4d4d;
@alt-background: #2a2a2a;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius:2px;
@hover-background: #999999;
@hover-border: #4D4D4D;
@hover-text: #2a2a2a;
@hover-border-style: solid;
@active-text: #fff;
@active-border: #2a2a2a;
@active-background: #4d4d4d;
@active-border-style: solid;
@primary-background: #0078f0;
@primary-border: #0078f0;
@primary-text: #fff;
@state-selected-background: #4d4d4d;
@state-selected-border: #0078f0;
@header: #4d4d4d;
@header-alt: #2a2a2a;
@header-text: #fff;
@button-text: #fff;
@effect: rgba(255, 255, 255, .4);
@font: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
