@default-text: #05386b;
@default-border: #CDE3AF;
@default-background: #f8fbf4;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 0px;
@alt-text: #05386b;
@alt-border: #edf5e1;
@alt-background: #edf5e1;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 2px;
@hover-background: #379683;
@hover-border: #379683;
@hover-text: #eef3dd;
@hover-border-style: solid;
@active-text: #05386b;
@active-border: #f8fbf4;
@active-background: #edf5e1;
@active-border-style: solid;
@primary-background: #05386b;
@primary-border: #05386b;
@primary-text: #eef3dd;
@state-selected-background: #8ef4af;
@state-selected-border: #05386b;
@button-text:#05386b; 
@effect: rgba(255, 255, 255, .6);
@header: #cae1ab;
@header-alt: #05386b;
@header-text: #05386b;
@font: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
