@default-text: #B7C5D3;
@default-border: #293540;
@default-background: #1a2127;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 2px;
@alt-text: #718CA1;
@alt-border: #1D252C;
@alt-background: #1D252C;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 4px;
@hover-background: #40444f;
@hover-border: #40444f;
@hover-text: #fff;
@hover-border-style: solid;
@active-text: #171e28;
@active-border: #232d36;
@active-background: #33CEB4;
@active-border-style: solid;
@primary-background: #008B94;
@primary-border: #008B94;
@state-selected-background: #e6af4b;
@state-selected-border: #e6af4b;
@button-text: #b3aca9;
@header: #1a2127;
@header-alt: #1D252C;
@header-text: #fff;
@effect: rgba(255, 255, 255, .2);
@font: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
