@default-text: #b3aca9;
@default-border: #293540;
@default-background: #212a33;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 2px;
@alt-text: #fff;
@alt-border: #363940;
@alt-background: #363940;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 4px;
@hover-background: #40444f;
@hover-border: #40444f;
@hover-text: #fff;
@hover-border-style: solid;
@active-text: #171e28;
@active-border: #232d36;
@active-background: #e6af4b;
@active-border-style: solid;
@primary-background: #e6af4b;
@primary-border: #e6af4b;
@state-selected-background: #e6af4b;
@state-selected-border: #e6af4b;
@button-text: #b3aca9;
@header: #363940;
@header-alt: #c9c6bf;
@header-text: #fffcf0;
@header-alt-text: #e6af4b;
@effect: rgba(255, 255, 255, .6);
@font: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
