@default-text: inherit;
@default-border: inherit;
@default-background:  #fff;
@default-border-style: solid;
@default-border-width: inherit;
@default-border-radius: inherit;
@alt-text: inherit;
@alt-border: inherit;
@alt-background: inherit;
@alt-border-style: solid;
@alt-border-width: inherit;
@alt-border-radius: inherit;
@hover-background: inherit;
@hover-border: inherit;
@hover-text: inherit;
@hover-border-style: solid;
@active-text: inherit;
@active-border: inherit;
@active-background: inherit;
@active-border-style: solid;
@primary-background: inherit;
@primary-border: inherit;
@state-selected-border: inherit;
@button-text:inherit;
@header: inherit;
@header-alt: inherit;
@header-text: inherit;
@effect: rgba(255, 255, 255, .6);
@font: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
