@default-text: #2e2e2e;
@default-border: #38d2a8;
@default-background: #fff;
@default-border-style: solid;
@default-border-width: 1px;
@default-border-radius: 0px;
@alt-text: #2e2e2e;
@alt-border: #fff;
@alt-background: #fff;
@alt-border-style: solid;
@alt-border-width: 1px;
@alt-border-radius: 2px;
@hover-background: #a7d7c9;
@hover-border: #a7d7c9;
@hover-text: #fff;
@hover-border-style: solid;
@active-text: #fff;
@active-border: #fff;
@active-background: #9be8d3;
@active-border-style: solid;
@primary-background: #32bd97;
@primary-border: #38d2a8;
@primary-text: #fff;
@state-selected-background: #87e4ca;
@state-selected-border: #32bd97;
@button-text:#2e2e2e;
@header: #38d2a8;
@header-alt: #2e2e2e;
@header-text: #165242;
@effect: rgba(255, 255, 255, .6);
@font: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
