
@font-face {
    font-family:"Lato Black Italic";
    src:url("Lato-BlackItalic.woff2") format("woff2"),url("Lato-BlackItalic.woff") format("woff"),url("Lato-BlackItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        