
@font-face {
    font-family:"Lato Bold";
    src:url("Lato-Bold.woff2") format("woff2"),url("Lato-Bold.woff") format("woff"),url("Lato-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        