
@font-face {
    font-family:"Lato-HairlineItalic";
    src:url("Lato-HairlineItalic.woff2") format("woff2"),url("Lato-HairlineItalic.woff") format("woff"),url("Lato-HairlineItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        