
@font-face {
    font-family:"Montserrat SemiBold Italic";
    src:url("Montserrat-SemiBoldItalic.woff2") format("woff2"),url("Montserrat-SemiBoldItalic.woff") format("woff"),url("Montserrat-SemiBoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        