
@font-face {
    font-family:"Montserrat Medium Italic";
    src:url("Montserrat-MediumItalic.woff2") format("woff2"),url("Montserrat-MediumItalic.woff") format("woff"),url("Montserrat-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        