
@font-face {
    font-family:"Montserrat Thin Italic";
    src:url("Montserrat-ThinItalic.woff2") format("woff2"),url("Montserrat-ThinItalic.woff") format("woff"),url("Montserrat-ThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        