
@font-face {
    font-family:"Montserrat ExtraBold Italic";
    src:url("Montserrat-ExtraBoldItalic.woff2") format("woff2"),url("Montserrat-ExtraBoldItalic.woff") format("woff"),url("Montserrat-ExtraBoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        