
@font-face {
    font-family:"Montserrat Light Italic";
    src:url("Montserrat-LightItalic.woff2") format("woff2"),url("Montserrat-LightItalic.woff") format("woff"),url("Montserrat-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        