
@font-face {
    font-family:"Montserrat Thin";
    src:url("Montserrat-Thin.woff2") format("woff2"),url("Montserrat-Thin.woff") format("woff"),url("Montserrat-Thin.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        