
@font-face {
    font-family:"Montserrat Bold Italic";
    src:url("Montserrat-BoldItalic.woff2") format("woff2"),url("Montserrat-BoldItalic.woff") format("woff"),url("Montserrat-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        