
@font-face {
    font-family:"Montserrat Black Italic";
    src:url("Montserrat-BlackItalic.woff2") format("woff2"),url("Montserrat-BlackItalic.woff") format("woff"),url("Montserrat-BlackItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        