
@font-face {
    font-family:"Montserrat ExtraBold";
    src:url("Montserrat-ExtraBold.woff2") format("woff2"),url("Montserrat-ExtraBold.woff") format("woff"),url("Montserrat-ExtraBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        