
@font-face {
    font-family:"Montserrat Regular";
    src:url("Montserrat-Regular.woff2") format("woff2"),url("Montserrat-Regular.woff") format("woff"),url("Montserrat-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        