
@font-face {
    font-family:"Montserrat Bold";
    src:url("Montserrat-Bold.woff2") format("woff2"),url("Montserrat-Bold.woff") format("woff"),url("Montserrat-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        