/* no border */
.bbn-border-color{
  border-color: @default-border!important;
}
.bbn-border-color-internal{
  border-color: @default-border;
}
.bbn-border-text{
  border-color: @default-text!important;
}
.bbn-border-text-internal{
  border-color: @default-text;
}
.bbn-border-background{
  border-color: @default-background!important;
}
.bbn-border-background-internal{
  border-color: @default-background;
}
.bbn-border-color-alt{
  border-color: @alt-border!important;
}
.bbn-border-color-alt-internal{
  border-color: @alt-border;
}
.bbn-border-text-alt{
  border-color: @alt-text !important;
}
.bbn-border-text-alt-internal{
  border-color: @alt-text;
}
.bbn-border-background-alt{
  border-color: @alt-background !important;
}
.bbn-border-background-alt-internal{
  border-color: @alt-background;
}
.bbn-bordered{
  border: @default-border @default-border-width @default-border-style !important;
  box-sizing: border-box;
}
.bbn-bordered-internal{
  border: @default-border @default-border-width @default-border-style;
  box-sizing: border-box;
}
.bbn-alt-bordered{
  border: @alt-border @alt-border-width @alt-border-style !important;
  box-sizing: border-box;
}
.bbn-alt-bordered-internal{
  border: @alt-border @alt-border-width @alt-border-style;
  box-sizing: border-box;
}
.bbn-selected-border{
  border: @state-selected-border @default-border-width @default-border-style !important;
}
.bbn-primary-border{
  border-color: @primary-border;
  border-width: @default-border-width;
  border-style: @default-border-style;
}
.bbn-secondary-border{
  border-color: @secondary-border;
  border-width: @default-border-width;
  border-style: @default-border-style;
}
.bbn-tertiary-border{
  border-color: @tertiary-border;
  border-width: @default-border-width;
  border-style: @default-border-style;
}
.bbn-bordered-top{
  border-top: @default-border-width @default-border-style @default-border !important;
}
.bbn-alt-bordered-top{
  border-top: @alt-border-width @alt-border-style @alt-border !important;
}
.bbn-bordered-bottom{
  border-bottom: @default-border-width @default-border-style @default-border !important;
}
.bbn-alt-bordered-bottom{
  border-bottom: @alt-border-width @alt-border-style @alt-border !important;
}
.bbn-bordered-left{
  border-left: @default-border-width @default-border-style @default-border !important;
}
.bbn-alt-bordered-left{
  border-left: @alt-border-width @alt-border-style @alt-border !important;
}
.bbn-bordered-right{
  border-right: @default-border-width @default-border-style @default-border !important;
}
.bbn-alt-bordered-right{
  border-right: @alt-border-width @alt-border-style @alt-border !important;
}
.bbn-bordered-notop{
  .bbn-bordered-internal;
  border-width: 0 @default-border-width @default-border-width @default-border-width !important;
}

.bbn-bordered-nobottom{
  .bbn-bordered-internal;
  border-width: @default-border-width @default-border-width 0 @default-border-width !important;
}
.bbn-bordered-noleft{
  .bbn-bordered-internal;
  border-width: @default-border-width @default-border-width @default-border-width 0 !important;
}
.bbn-bordered-noright{
  .bbn-bordered-internal;
  border-width: @default-border-width 0 @default-border-width @default-border-width !important;
}
.bbn-hover-border{
  border-color: @hover-border!important;
}
.bbn-hover-border-internal{
  border-color: @hover-border;
}
.bbn-active-border{
  border-color: @active-border!important;
}
.bbn-active-border-internal{
  border-color: @active-border;
}
.bbn-o,
.bbn-no-border{
  border-width: 0px !important;
  outline: 0;
}
.bbn-o-internal,
.bbn-no-border-internal{
  border-width: 0px !important;
  outline: 0;
}
.bbn-no-border-top{
  border-top-width: 0px !important;
}
.bbn-no-border-bottom{
  border-bottom-width: 0px !important;
}
.bbn-no-border-left{
  border-left-width: 0px !important;
}
.bbn-no-border-right{
  border-right-width: 0px !important;
}
.bbn-no-hborder{
  .bbn-no-border-left;
  .bbn-no-border-right;
}
.bbn-no-vborder{
  .bbn-no-border-top;
  .bbn-no-border-bottom;
}