
.bbn-no-padding{
  padding: 0 !important;
}
.bbn-no-hpadding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.bbn-no-vpadding{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.bbn-hlpadded{
  padding-left: 2em;
  padding-right: 2em;
}
.bbn-vlpadded{
  padding-top: 2em;
  padding-bottom: 2em;
}
.bbn-lpadded{
  .bbn-hlpadded;
  .bbn-vlpadded;
}
.bbn-hpadded{
  padding-left: 1em;
  padding-right: 1em;
}
.bbn-vpadded{
  padding-top: 1em;
  padding-bottom: 1em;
}
.bbn-padded{
  .bbn-hpadded;
  .bbn-vpadded;
}
.bbn-hspadded{
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.bbn-vspadded{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.bbn-spadded{
  .bbn-hspadded;
  .bbn-vspadded;
}
.bbn-hxspadded{
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.bbn-vxspadded{
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.bbn-xspadded{
  .bbn-hxspadded;
  .bbn-vxspadded;
}
.bbn-hxxspadded{
  padding-left: 0.125em;
  padding-right: 0.125em;
}
.bbn-vxxspadded{
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}
.bbn-xxspadded{
  .bbn-hxxspadded;
  .bbn-vxxspadded;
}
.bbn-top-lpadded{
  padding-top: 2em;
}
.bbn-top-padded{
  padding-top: 1em;
}
.bbn-top-spadded{
  padding-top: .5em;
}
.bbn-top-xspadded{
  padding-top: .25em;
}
.bbn-top-xxspadded{
  padding-right: .125em;
}
.bbn-right-lpadded{
  padding-right: 2em;
}
.bbn-right-padded{
  padding-right: 1em;
}
.bbn-right-spadded{
  padding-right: .5em;
}
.bbn-right-xspadded{
  padding-right: .25em;
}
.bbn-right-xxspadded{
  padding-right: .125em;
}
.bbn-bottom-lpadded{
  padding-bottom: 2em;
}
.bbn-bottom-padded{
  padding-bottom: 1em;
}
.bbn-bottom-spadded{
  padding-bottom: .5em;
}
.bbn-bottom-xspadded{
  padding-bottom: .25em;
}
.bbn-bottom-xxspadded{
  padding-bottom: .125em;
}
.bbn-left-lpadded{
  padding-left: 2em;
}
.bbn-left-padded{
  padding-left: 1em;
}
.bbn-left-spadded{
  padding-left: .5em;
}
.bbn-left-xspadded{
  padding-left: .25em;
}
.bbn-left-xxspadded{
  padding-left: .125em;
}