
@font-face {
    font-family:"Roboto Condensed Light Italic";
    src:url("RobotoCondensed-LightItalic.woff2") format("woff2"),url("RobotoCondensed-LightItalic.woff") format("woff"),url("RobotoCondensed-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        