
@font-face {
    font-family:"Roboto Bold Italic";
    src:url("Roboto-BoldItalic.woff2") format("woff2"),url("Roboto-BoldItalic.woff") format("woff"),url("Roboto-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        