
@font-face {
    font-family:"Roboto Medium Italic";
    src:url("Roboto-MediumItalic.woff2") format("woff2"),url("Roboto-MediumItalic.woff") format("woff"),url("Roboto-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        