
@font-face {
    font-family:"Roboto Thin Italic";
    src:url("Roboto-ThinItalic.woff2") format("woff2"),url("Roboto-ThinItalic.woff") format("woff"),url("Roboto-ThinItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        