
.bbn-no-padding{
  padding: 0 !important;
}
.bbn-no-hpadding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.bbn-no-vpadding{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.bbn-hlpadded{
  padding-left: 2em;
  padding-right: 2em;
}
.bbn-vlpadded{
  padding-top: 2em;
  padding-bottom: 2em;
}
.bbn-lpadded{
  .bbn-hlpadded;
  .bbn-vlpadded;
}
.bbn-hpadded{
  padding-left: 1em;
  padding-right: 1em;
}
.bbn-vpadded{
  padding-top: 1em;
  padding-bottom: 1em;
}
.bbn-padded{
  .bbn-hpadded;
  .bbn-vpadded;
}
.bbn-hspadded{
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.bbn-vspadded{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.bbn-spadded{
  .bbn-hspadded;
  .bbn-vspadded;
}
.bbn-hxspadded{
  padding-left: 0.25em;
  padding-right: 0.25em;
}
.bbn-vxspadded{
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.bbn-xspadded{
  .bbn-hxspadded;
  .bbn-vxspadded;
}
.bbn-hxxspadded{
  padding-left: 0.125em;
  padding-right: 0.125em;
}
.bbn-vxxspadded{
  padding-top: 0.125em;
  padding-bottom: 0.125em;
}
.bbn-xxspadded{
  .bbn-hxxspadded;
  .bbn-vxxspadded;
}