
.bbn-top-space{
  margin-top: 1em;
}
.bbn-top-lspace{
  margin-top: 2em;
}
.bbn-top-sspace{
  margin-top: 0.5em;
}
.bbn-top-xsspace{
  margin-top: 0.25em;
}
.bbn-bottom-space{
  margin-bottom: 1em;
}
.bbn-bottom-lspace{
  margin-bottom: 2em;
}
.bbn-bottom-sspace{
  margin-bottom: 0.5em;
}
.bbn-bottom-xsspace{
  margin-bottom: 0.25em;
}
.bbn-left-space{
  margin-left: 1em;
}
.bbn-left-lspace{
  margin-left: 2em;
}
.bbn-left-sspace{
  margin-left: 0.5em;
}
.bbn-left-xsspace{
  margin-left: 0.25em;
}
.bbn-right-space{
  margin-right: 1em;
}
.bbn-right-lspace{
  margin-right: 2em;
}
.bbn-right-sspace{
  margin-right: 0.5em;
}
.bbn-right-xsspace{
  margin-right: 0.25em;
}
.bbn-no-margin{
  margin: 0 !important;
}
.bbn-no-hmargin{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.bbn-no-vmargin{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.bbn-hlmargin{
  margin-left: 2em;
  margin-right: 2em;
}
.bbn-vlmargin{
  margin-top: 2em;
  margin-bottom: 2em;
}
.bbn-lmargin{
  .bbn-hlmargin;
  .bbn-vlmargin;
}
.bbn-hmargin{
  margin-left: 1em;
  margin-right: 1em;
}
.bbn-vmargin{
  margin-top: 1em;
  margin-bottom: 1em;
}
.bbn-margin{
  .bbn-hmargin;
  .bbn-vmargin;
}
.bbn-hsmargin{
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.bbn-vsmargin{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.bbn-smargin{
  .bbn-hsmargin;
  .bbn-vsmargin;
}
.bbn-hxsmargin{
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.bbn-vxsmargin{
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.bbn-xsmargin{
  .bbn-hxsmargin;
  .bbn-vxsmargin;
}