
.bbn-abs{
  position: absolute !important;
}
.bbn-rel{
  position: relative !important;
}
.bbn-static{
  position: static !important;
}
.bbn-fixed{
  position: fixed !important;
}
.bbn-pos-top{
  top: 0px;
}
.bbn-pos-bottom{
  bottom: 0px;
}
.bbn-pos-left{
  left: 0px;
}
.bbn-pos-right{
  right: 0px;
}

.bbn-top-left{
  .bbn-abs;
  .bbn-pos-top;
  .bbn-pos-left;
}
.bbn-top-right{
  .bbn-abs;
  .bbn-pos-top;
  .bbn-pos-right;
}
.bbn-bottom-left{
  .bbn-abs;
  .bbn-pos-bottom;
  .bbn-pos-left;
}
.bbn-bottom-right{
  .bbn-abs;
  .bbn-pos-bottom;
  .bbn-pos-right;
}