
.k-content.bbn-full-height, .k-content.bbn-full-width{
  border: 0;
}
.k-textbox.large{
  min-width: 330px;
}
.k-textbox.small{
  max-width: 50px;
}
.k-list-container{
  .k-list{
    h3{
      font-size: 1.2em;
      padding: 0.5em 0.2em;
      margin: 0px;
    }
    h4{
      font-size: 1em;
      padding: 0;
      margin: 0;
    }
    li.k-item{
      width: auto;
      padding: 0.2em;
      margin: 0;
      overflow: auto;
    }
  }
}
div#tabstrip .k-loading-image{
  background-image: none;
}
.bbn-logger{
  .k-edit-form-container{
    .k-edit-buttons{
      bottom: 0px;
    }
  }
}
div.bbn-h-100.k-grid{
  border-width: 0;
}
.k-grid tbody td{
  vertical-align: top;
  a.k-button,button.k-button{
    min-width: 1em;
  }
}
.k-splitbar-horizontal{
  width:0px;
  border:0;
}
.k-edit-form-container{
  width: auto !important;
}
.k-treeview i{
  margin-right: 2px;
}
.k-upload-button{
  margin: 0px !important;
}
.k-dropzone{
  padding: 0px !important;
}
.k-dropzone .k-upload-status{
  line-height: 1;
}
ul.k-tabstrip-items{
  padding: 0 !important;
}
.k-tabstrip-items .k-tab-on-top{
  z-index: auto;
}
.k-content{
  border-collapse: collapse;
}
.k-space-left.k-space-right{
  a.k-icon:nth-child(odd){
    left: auto;
    right: 3px;
  }
  a.k-icon:nth-child(even){
    left: 3px;
    right: auto;
  }
}
