
@font-face {
    font-family:"Source Sans Pro Bold";
    src:url("SourceSansPro-Bold.woff2") format("woff2"),url("SourceSansPro-Bold.woff") format("woff"),url("SourceSansPro-Bold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        