
@font-face {
    font-family:"Source Sans Pro Regular";
    src:url("SourceSansPro-Regular.woff2") format("woff2"),url("SourceSansPro-Regular.woff") format("woff"),url("SourceSansPro-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        