
@font-face {
    font-family:"Source Sans Pro SemiBold";
    src:url("SourceSansPro-SemiBold.woff2") format("woff2"),url("SourceSansPro-SemiBold.woff") format("woff"),url("SourceSansPro-SemiBold.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        