
@font-face {
    font-family:"Source Sans Pro ExtraLight";
    src:url("SourceSansPro-ExtraLight.woff2") format("woff2"),url("SourceSansPro-ExtraLight.woff") format("woff"),url("SourceSansPro-ExtraLight.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        